/**
 * @author Sebastian Schlicht (User:sebschlicht), Rene Pickhardt (User:renepick)
 * @website https://www.mediawiki.org/wiki/Extension:MOOC
 */

// IMPORTS
@import "elements.less";

// COLORS
@cContentBg: #FFF;
@cSectionBg: #CCC;
@cNavigationBarBg: #FFF;

// sections
@cSectionBorder: #E0E0E0;
@cSectionHeader: #000;
@cSectionHeaderBgAlternative: #F5F5F5;
@cSectionHeaderBgBottom: #FFF;
@cSectionHeaderBgTop: #EAEAEA;

// DIMENSIONS
@hCollapsedSection: 200px; // warning: when altering this value, update ext.mooc.js:hCollapsedSection as well

#mooc-sections {
  .section {
    position: relative;
    border: 1px solid @cSectionBorder;
    overflow: hidden;

    .header {
      padding: 5px 20px;
      color: @cSectionHeader;
      border-bottom: 1px solid @cSectionBorder;
      .gradient(@cSectionHeaderBgAlternative, @cSectionHeaderBgTop, @cSectionHeaderBgBottom);
      .box-shadow(0 0 0 1px rgba(155, 155, 155, .3), 1px 0 0 0 rgba(255, 255, 255, .9) inset, 0 2px 2px rgba(0, 0, 0, .1));

      .actions {
        float: right;
      }
      .icon {
        float: left;
        margin-right: 7px;
        padding-top: 4px;
      }
      h2 {
        display: inline-block;
        margin-top: 5px;

        .mw-editsection {
          // TODO hide
        }
      }
    }
    .content {
      position: relative;
      margin: 0;
      padding: 20px;
      .transition(.3s, ease-out 0s, max-height);
      .box-shadow(0 0 0 1px rgba(0, 0, 0, .2));
      overflow: hidden;
    }
    .expander {
      display: none;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 120px;
      cursor: pointer;
      .gradient(#FFF, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      .transition(.3s, ease-in);
      
      text-align: center;
      padding-top: 70px;
      font-size: 150%;
      color: grey;
      text-transform: uppercase;
      .user-select();
    }
    .modal-box-wrapper {
      display: none;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 40px;
      cursor: default;
      z-index: 1000;
      
      .modal-box-bg {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #050404;
        opacity: .87;
      }
      .modal-box {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 25px 20px;
        margin: 0;
        background-color: #FFF;
        overflow: auto;
        .rounded(10px);
      }
    }
  }
  .section:first-child {
  	border-top: none;
  }
  .section.default-collapsed {
    .content {
      max-height: @hCollapsedSection; // just to avoid visual noise until JS loaded
    }
  }
  .section.collapsable,
  .section.expandable {
    .header {
      cursor: pointer;
    }
  }
  .section.collapsed {
    .content {
      .transition(.3s, ease-in, max-height);
    }
  }
}
#mooc-navigation-bar {
  position: absolute;
  right: 0;
  
  #mooc-navigation {
    #mooc-sections .section;
    
    .header {
      position: relative;
      top: 0;
      width: 100%;
      cursor: default;
      z-index: 1;
    }
    .fixed.header {
      position: fixed;
    }
    .content {
      position: relative;
      list-style: none;
      overflow: hidden;
      background: @cNavigationBarBg;
    }
    a {
      display: block;
    }
  }
  #mooc-navigation.fixed {
    position: fixed;
  }
  #mooc-navigation.trailing {
    position: fixed;
  }
}

.btn-toggle-mw-nav {
  position: fixed;
  top: 50%;
  left: 2px;
  width: 20px;
  height: auto;
  z-index: 1000;
}

/* disable TOC */
// TODO figure out how to delete TOC!
.toc,
#toc {
  display: none !important;
}

// fix CSS z-index BUG of MW
#bodyContent {
  background-color: @cContentBg;
  z-index: 1000;
}

// adapt font-size set by Bootstrap
body {
  font-size: 100%;
}
